name: Check linked issues
on:
  pull_request_target:
    types: [opened, edited, reopened, synchronize]

jobs:
  check_pull_requests:
    runs-on: ubuntu-latest
    name: Check
    permissions:
      issues: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Use the action
        uses: ./ # Uses an action in the root directory
        id: check
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          exclude-branches: "release/**, dependabot/**"
      # Use the output from the `check` step
      - name: Get the output
        run: echo "Has linked issues? ${{ steps.check.outputs.linked_issues_count }}"
